$def with (b1, b2, r1, r2, bs, rs)

<form action="/submit_game" method="POST">
    <h2>Final Score</h2>
    <p><span class="blackbg">&nbsp;</span>$b1 and $b2: <span class="black">$bs</span></p>
    <p><span class="redbg">&nbsp;</span>$r1 and $r2: <span class="red">$rs</span><br></p>
    <input type="hidden" name="b1" value="$b1">
    <input type="hidden" name="b2" value="$b2">
    <input type="hidden" name="r1" value="$r1">
    <input type="hidden" name="r2" value="$r2">
    <input type="hidden" name="bs" value="$bs">
    <input type="hidden" name="rs" value="$rs">
    <input type="submit" value="Submit Game">
</form>
<form action="/" method="GET">
    <input type="submit" value="Reset Game">
</form>