$def with (user_data)

<form action="/game" method="POST">
    <fieldset>
        <span class="blackbg">&nbsp;</span><span>Player 1:</span>
            <select name="b1">
                <option value="none">None</option>
                $for user in user_data
                    <option value="$user[u'username']">$user[u'username'] : $user[u'mmr']</option>
            </select>
        <span class="blackbg">&nbsp;</span><span>Player 2:</span>
            <select name="b2">
                <option value="none">None</option>
                $for user in user_data
                    <option value="$user[u'username']">$user[u'username'] : $user[u'mmr']</option>
            </select>
        
    </fieldset>
    <br>
    <fieldset>
        <span class="redbg">&nbsp;</span><span>Player 1:</span>
        
            <select name="r1">
                <option value="none">None</option>
                $for user in user_data
                    <option value="$user[u'username']">$user[u'username'] : $user[u'mmr']</option>
            </select>
        
        <span class="redbg">&nbsp;</span><span>Player 2:</span>
        
            <select name="r2">
                <option value="none">None</option>
                $for user in user_data
                    <option value="$user[u'username']">$user[u'username'] : $user[u'mmr']</option>
            </select>
        
    </fieldset>
    <br>
    <input type="submit" value="Submit"/>
</form>
